.main--container {
    background-image: url(../src/img/bgi-light.jpg);
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main--container.dark {
    background-image: url(../src/img/bgi-dark.jpg);
}